# IDEA
.idea

# Windows
Thumbs.db
ehthumbs.db
Desktop.ini

# npm
node_modules
/node_modules
package-lock.json
/package-lock.json
*.log
*.gz

# Coveralls
coverage

# Benchmarking
benchmarks/graphs

routes/mongoDetails.js